@import url("http://fonts.googleapis.com/css?family=Lato");


html {
  font-family: Lato, Verdana, sans-serif;
  background-color: #FFF;
}
body {
  margin: 0;
}
h1 {
  margin: 0 0 15px;
  font-weight: normal;
}
h3 {
  font-weight: normal;
  margin-bottom: 10px;
}
ul {
  margin-top: 0;
  padding-left: 20px;
}
ul.small {
  font-size: .8em;
}


/**
 * Header
 */
header.main {
  background-color: #51535F;
  color: #F6F6F6;
  padding: 15px;
}
header.main > section {
  // max-width: 1000px;
  // margin: 0 auto;
}
header.main .button {
  float: right;
  margin-top: -3px;
  padding: 5px 10px;
  font-size: .8em;
}
#logo {
  color: #F6F6F6;
  text-decoration: none;
}
#logo:after {
  content: "alpha";
  font-size: 10px;
  background-color: #EF9187;
  padding: 2px 4px;
  border-radius: 4px;
  position: relative;
  top: -10px;
  left: 4px;
}


/**
 * App list
 */
#app-search {
  background-color: #F6F6F6;
  border: none;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  padding: 15px;
}
#app-search:focus {
  outline:none;
}
#apps {
  background-color: #F6F6F6;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
}
#apps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#apps li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #51535F;
  transition: .2s;
  border-bottom: 1px solid #E1E1E1;
}
#apps li a:hover,
#apps li.selected a {
  color: #333;
  background-color: #fff;
}
#apps h3 {
  margin: 0;
}



/**
 * Main content area
 */
main {
  position: fixed;
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
main > section.main {
  padding: 15px;
  margin-left: 200px;
  position: relative;
  box-sizing: border-box;
}





/**
 * Tabs
 */
.tabs {
  max-width: 650px;
  list-style: none;
  position: relative;
  padding: 0;
}
.tabs > li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
    display: block;
    padding: 14px 21px;
    border-radius: 4px 4px 0 0;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    top: 5px; 
    background-color: #FAFAFA;
    border: 1px solid #eee;
    border-bottom: none;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background-color: #f3f3f3;
}
.tabs section {
  z-index: 2;
  display: none; 
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;  
  position: absolute;
  top: 50px;
  left: 0; 
  background-color: #f3f3f3;
  border: 1px solid #eee;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
.tabs [id^="tab"]:checked + label { 
  top: 1px;
  padding-top: 18px;
  background-color: #f3f3f3;
  z-index: 5;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}


/**
 * Form elements
 */
input, textarea, button {
  font-size: 1em;
  transition: .2s;
}
input[type="text"],
textarea {
  background-color: #fff;
  border: 2px solid #E1E1E1;
  padding: 15px;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none;
  border-color: #51535F;
}
label {
  cursor: pointer;
}
label.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
  position: relative;
  top: 4px;
  margin-right: 5px;
  transition: .2s;
}
label.check:after {
  content: "✔";
  color: #F6F6F6;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #51535F;
  transition: .2s;
}
input[type="checkbox"]:checked + label.check,
input[type="checkbox"]:focus + label.check {
  border-color: #51535F;
}
input[type="checkbox"]:checked + label.check:after {
  opacity: 1;
}
label.check:hover {
  border-color: #51535F!important;
}
input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
button, 
.button {
  color: #fff;
  background-color: #EF9187;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  transition: .2s;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #D6786E;
  outline: none;
}
button.alt,
.button.alt {
  background-color: #848692;
}
button.alt:hover,
.button.alt:hover {
  background-color: #51535F;
}

/**
 * Create new app
 */
#new-app textarea {
  height: 53px;
  line-height: 1.2em;
}
#new-app textarea:focus {
  height: 5.6em;
}
#new-app label img {
  border: 2px solid #E1E1E1;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  transition: .2s;
  margin: 0 10px 10px 0;
  padding: 10px;
  height: 80px;
  width: 80px;
}
#new-app label input:checked + img,
#new-app label input:focus + img {
  border-color: #999;
  background-color: #F9F9F9;
}
#new-app label img:hover {
  border-color: #51535F!important;
}
#new-app .framework input {
  position: absolute;
  top: -9999px;
  left: -9999px; 
}
#new-app button[type="submit"] {
  float: right;
}
#new-app .misc {
  padding: 0;
}
#new-app .misc li {
  list-style: none;
  display: inline-block;
  margin: 0 30px 15px 0;
}
#new-app .misc input {
  height: 15px;
}


/* show app */
section.app .settings  {
  float: right;
  text-align: right;
}
section.app .icon-settings {
  color: #ccc;
  cursor: pointer;
  transition: .2s;
}
section.app .icon-settings:hover {
  color: #51535F;
}
section.app .settings ul {
  padding: 0;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 10;
  top: 10px;
  left: 10px;
  box-shadow: 0 0 5px #eee;
  display: none;
}
section.app .settings:hover ul {
  display: block;
}
section.app .settings ul:after, 
section.app .settings ul:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-bottom: -1px;
}
section.app .settings ul:after {
  border-color: rgba(250, 250, 250, 0);
  border-bottom-color: #FAFAFA;
  border-width: 10px;
  margin-left: -2px;
}
section.app .settings ul:before {
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eee;
  border-width: 12px;
  margin-left: -3px;
}
section.app .settings li {
  list-style: none;
  text-align: left;
}
section.app .settings a {
  display: block;
  padding: 10px;
  font-size: .8em;
  text-decoration: none;
  background-color: #FAFAFA;
  color: #333;
  border: 1px solid #eee;
  border-bottom: none;
  transition: .2s;
}
section.app .settings a:hover {
  background-color: #F3F3F3;
}